/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.headMob {
  position: fixed;
  background-color: rgba(17, 17, 17, 0.95);
  width: 100%;
  left: 0;
  z-index: 10;
}
.topnav {
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.topnavHead {
  display: flex;
  justify-content: space-between;
}
.topnavHeadMenuIconClose, .headMobLinkS {
  display: none;
}
.topnavHeadMenuIconOpen, .topnavHeadMenuIconClose {
  width: 32px;
  height: 32px;
  margin: auto 0;
}

.headMobLinkS {
  display: none;
  height: 100%;
  font-size: 	1.5rem;
  line-height: 28px;
  background-color: #111111;
  text-align: center;
}
.wrapLinksMobMenu {
  height: 100%;
  display: flex;
  align-items:center;
}
.wrapLinksMobMenuCenter {
  width: 100%;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
