/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.modal {
  width: 608px;
  height: 650px;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  display: none;
  z-index: 10;
  background: rgba(0, 0, 0, 0);
}
.contentModal {
  width: 560px;
  height: 600px;
  background: rgba(255, 255, 255, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.closeModalContent {
  text-align: right;
}
.contentModalImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.closeModalIcon {
  cursor: pointer;
}
.contentModalTitle {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #000000;
}
.contentModalSlogon {
  margin-bottom: 32px;
  margin: 0 5px;
  text-align: center;
  font-size: 1.125rem;
  line-height: 28px;
  color: rgba(17, 17, 17, 0.66);
}
.contentModalName {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
  text-align: center;
  color: #111111;
}
.contentModalPosition {
  font-size: 1.125rem;
  line-height: 24px;
  text-align: center;
  color: #8f959f;
}
.closeModalBtn {
  margin: 32px auto;
}

@media (max-width: 768px) {
  .modal {
    width: 408px;
  }
  .contentModal {
    width: 360px;
  }
}

@media (max-width: 425px) {
  .modal {
    width: 350px;
  }
  .contentModal {
    width: 300px;
  }
}