.timSection {
  box-sizing: border-box;
  margin-top: 96px;
  color: white;
}
.cardTim {
  height: auto;
}
.slick-list {
  overflow: visible;
}
.slider {
  width: 100%;
  margin: 0 auto;
}
.slick-slide {
  margin: 0px 37.5px;
  opacity: 0.25;
}
.fotoCarousel {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
.slick-active {
  opacity: 0.8;
}

.slick-next {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #292929;
  opacity: 1;
  margin-right: 6%;
  margin-top: -5%;
  z-index: 2;
}
.slick-next:hover,
.slick-prev:hover {
  box-shadow: 0 0 8px #f0efe7;
}
.slick-next:before,
.slick-prev:before {
  display: none;
}
.slick-next:after {
  content: " ";
  background-image: url("../img/icon/other/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.slick-prev {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #292929;
  opacity: 1;
  margin-left: 6%;
  margin-top: -5%;
  z-index: 2;
}
.slick-prev:after {
  content: " ";
  background-image: url("../img/icon/other/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50%;
  height: 50%;
  transform: rotate(180deg);
}
.timDots {
  display: flex;
  justify-content: center;
}
.timDots li {
  margin-top: 48px;
  text-decoration: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  line-height: 10px;
  border-radius: 50%;
  margin-right: 7px;
  text-indent: -9999px;
  background: #4c4c4c;
}
.timDots .slick-active {
  background: #f79d31;
  color: #fff;
  opacity: 1;
  -webkit-box-shadow: 0 0 2px #f0efe7;
  box-shadow: 0 0 2px #f0efe7;
}

.timCarouselDiscrTop {
  margin: 24px 0 7px 0;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
}
.timCarouselDiscrBottom {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 24px;
  color: #8f959f;
}

@media (max-width: 768px) {
}

@media (max-width: 360px) {
  .slick-slide {
    margin: 0px 10px;
    opacity: 0.25;
  }
  .slick-active {
    opacity: 0.8;
  }
  .timDots li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
}
