/* карусель сотрудников */
/* https://github.com/jsor/jcarousel */
.jcarousel-wrapper {
  position: relative;
}
.fotoCarousel {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/** Carousel **/

.jcarousel {
  position: relative;
  overflow: hidden;
}
.jcarousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
}
.jcarousel li {
  float: left;
}
.jcarousel img {
  width: 100%;
  opacity: 0.8;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4e443c;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 4px #f0efe7;
  -moz-box-shadow: 0 0 4px #f0efe7;
  box-shadow: 0 0 4px #f0efe7;
}
.jcarousel-control-prev {
  left: 0px;
}
.jcarousel-control-next {
  right: 0px;
}
.timCrouselPagination {
  display: none;
}
/* карусель сотрудников */

@media (max-width: 768px) {
  .timCrouselPagination {
    display: flex;
    justify-content: center;
  }
  .jcarousel-control-prev {
    display: none;
  }
  .jcarousel-control-next {
    display: none;
  }
}
