/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.timSection {
  margin-top: 96px;
  color: white;
}
.listTim {

}
.fotoCarousel {
  width: 340px;
}
.timCrouselPagination {
  display: none;
}
/* карусель сотрудников */

@media (max-width: 768px) {
  .timCrouselPagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jcarousel-control-prev {
    display: none;
  }
  .jcarousel-control-next {
    display: none;
  }
}

@media (max-width: 360px) {
  .fotoCarousel {
    width: 340px;
  }
}