.timSection {
  box-sizing: border-box;
  margin-top: 96px;
  color: white;
}
.slick-list {
 overflow: visible;
}

.slider {
  width: 100%;
  margin: 0 auto;
 
}
.slick-slide {
  margin: 0px 37.5px;
  opacity: 0.25;
}
.fotoCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.slick-active {
  opacity: 0.8;
}
.slick-next {
 margin-right: 25px;
  z-index: 2;
}
.slick-prev {
  margin-left: 25px;
  z-index: 2;
}

.timCarouselDiscrTop {
  margin: 24px 0 7px 0; 
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
}
.timCarouselDiscrBottom {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 24px;
  color: #8F959F;
}

@media (max-width: 768px) {

}

@media (max-width: 360px) {

}