/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* первая страница */
.wraperHead {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.head {
  position: fixed;
  background-color: rgba(17, 17, 17, 0.95);
  width: 100%;
  left: 0;
  z-index: 10;
}
.wrapHeadFixed {
  padding: 0 20px;
  max-width: 1210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px auto;
  max-width: 1170px;
}
.menu li {
  display: inline;
  margin-right: 40px;
}
.menu li:last-child {
  margin-right: 0px;
}
.menu li a {
  color: white;
  text-decoration: none;
}
.menu li a:hover {
  color: #FFB255;
}
.menu li a:active {
  color: #BC6E11;
}
.menu li a.activeMenu {
  color: #BC6E11;
}
.description {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tagline {
  margin-top: 310px;
}
.taglineFirst {
  /* height: 150px; */
  max-width: 570px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 4rem;
  line-height: 75px;
  color: #ffffff;
}
.tagline {
  margin-bottom: 150px;
}
.taglineFirstSub {
  margin: 16px 0 32px 0;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.66);
}
.btnRequest {
  width: 240px;
  background-color: #f7941d;
  color: #ffffff;
  border: none;
  border-radius: 32px;
  outline: none;
  cursor: pointer;
}
.btnRequest:hover {
  -webkit-box-shadow: 0px 4px 50px rgba(247, 148, 29, 0.66);
          box-shadow: 0px 4px 50px rgba(247, 148, 29, 0.66);
}
.btnRequest:active {
  background: #ce7c1a;
  -webkit-box-shadow: 0px 4px 50px rgba(247, 148, 29, 0.66);
          box-shadow: 0px 4px 50px rgba(247, 148, 29, 0.66);
}
.btnRequestTitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.288px;
}
.btnTop {
  position: fixed;
  right: 150px;
  bottom: 100px;
  z-index: 1;
  cursor: pointer;
  display: none;
  opacity: 0.5;
}
.btnTopIconWrap {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f7941d;
  text-align: center;
}
.btnTopIconWrap:hover {
  -webkit-box-shadow: 0px 4px 50px rgba(247, 148, 29, 0.66);
          box-shadow: 0px 4px 50px rgba(247, 148, 29, 0.66);
}
.btnTopIconWrap:active {
  background: #ce7c1a;
  -webkit-box-shadow: 0px 4px 50px rgba(247, 148, 29, 0.66);
          box-shadow: 0px 4px 50px rgba(247, 148, 29, 0.66);
}
.btnTopIcon {
  margin: 20px;
}
.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  opacity: 0.5;
}
.scrollIcon {
  padding-right: 10px;
}
.scrollInfo {
  letter-spacing: 2px;
}
.scrollInfoLink {
  color: white;
  text-decoration: none;
}
.scrollInfoLink:hover {
  color: #FFB255;
}
.headMob {
  display: none;
}
/* первая страница */

@media (max-width: 1024px) {
  .wrapHeadFixed {
    max-width: 984px;
  }
}

@media (max-width: 768px) {
  .head {
    visibility: hidden;
  }
  .headMob {
    display: block;
  }
  .scroll {
    display: none;
  }
  .btnTop {
    right: 30px;
  }
}

@media (max-width: 767.98px) {
  .taglineFirst {
    font-size: 2.25rem;
    line-height: 45px;
  }
  .taglineFirstSub {
    font-size: 0.875rem;
    line-height: 24px;
  }
  .btnRequestTitle {
    font-size: 1.125rem;
    line-height: 50px;
  }
}

@media (max-width: 320px) {
  .btnTop {
    right: 10px;
  }
}