/* Кейсы, которые мы решали */
.caseOllResolved {
  margin-bottom: 85px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.caseOneResolved {
  margin: 0 ;
  max-width: 310px;
  margin-top: 30px;
  padding: 60px 30px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}
.caseResolvedDisriptionTop {
  margin: 40px 0 16px 0;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.21px;
}
.caseResolvedDisriptionBottom {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.caseOneResolved:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.caseOllResolvedMob {
  display: none;
}
.caseOneResolvedMob {
  height: 100%;
  margin: 0 auto;
}
.caseOneResolvedMobImg {
  max-width: 104px;
}
.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;
  border-radius: 10px;
  margin-right: 7px;
  text-indent: -9999px;
  background: #4C4C4C;
}
.jcarousel-pagination a.active {
  background: #F79D31;
  color: #fff;
  opacity: 1;
  box-shadow: 0 0 2px #F0EFE7;
}
/* Кейсы, которые мы решали */


@media (max-width: 768px) {
  .caseOllResolved {
    display: none;
  }
  .caseOllResolvedMob {
    display: flex;
  }
}