.processSection {
  margin-top: 96px;
}
.roadMap {
  display: flex;
  justify-content: center;
}
.roadMapStep {
  margin-left: 0;
  margin-right: 0;
  padding-top: 32px;
}
.roadMapLeft {
  border-right: 2px solid rgba(255, 255, 255, 0.05);
  text-align: right;
}
.roadMapLeftInfo {
  max-width: 437px;
  margin-right: 10px;
}
.roadMapRightInfo {
  max-width: 437px;
  margin-left: 10px;
}
.roadMapLeft figure::after, .roadMapRight figure::before {
  content: " ";
  display: block;
  position: relative;
  top: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.05);
  width: 40px;
}
.roadMapLeft figure, .roadMapRight figure {
  display: flex;
  margin: 0;
}
.roadMapRight {
  margin: 75px 0 24px 0;
  text-align: left;
}
.roadMapDiscrTop {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: 0.27px;
}
.roadMapDiscrBottom {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 	1rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.roadMapMob {
  display: none;
}

@media (max-width: 768px) {
  .roadMap {
    display: none;
  }
  .roadMapMob {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .roadMapInfoMob {
    max-width: 370px;
    margin: 0 auto;
    text-align: center;
  }
  .roadMapInfoMob img {
    max-width: 96px;
  }
  .roadMapPagination {
    display: flex;
    justify-content: center;
  }
  
}