/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.processSection {
  margin-top: 96px;
}
.roadMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.roadMapStep {
  margin-left: 0;
  margin-right: 0;
}
.roadMapLeft {
  border-right: 2px solid rgba(255, 255, 255, 0.05);
  text-align: right;
}
.roadMapLeftInfo {
  max-width: 437px;
  margin-right: 10px;
}
.roadMapRightInfo {
  max-width: 437px;
  margin-left: 10px;
}
.roadMapLeft figure::after, .roadMapRight figure::before {
  content: " ";
  display: block;
  position: relative;
  top: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.05);
  width: 40px;
}
.roadMapLeft figure, .roadMapRight figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.roadMapRight {
  margin: 75px 0 24px 0;
  text-align: left;
}
.roadMapDiscrTop {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: 0.27px;
}
.roadMapDiscrBottom {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 	1rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.roadMapMob {
  display: none;
}

@media (max-width: 768px) {
  .roadMap {
    display: none;
  }
  .roadMapMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .roadMapInfoMob {
    max-width: 370px;
    margin: 0 auto;
    text-align: center;
  }
  .roadMapInfoMob img {
    max-width: 96px;
    margin: 0 auto;
  }
  .roadMapPagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .roadMapDiscrTop {
    font-size: 1.125rem;
    line-height: 24px;  
  }
  .roadMapDiscrBottom {
    font-size: 	0.875rem;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .roadMapDiscrTop {
    font-size: 2rem;
    line-height: 37px;
  }
  .roadMapDiscrBottom {
    font-size: 1.125rem;
    line-height: 28px;
  }
}