/* Кейсы, которые мы решали */
.caseOllResolved {
  margin-bottom: 85px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.caseOneResolved {
  max-width: 310px;
  padding: 60px 30px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}
.caseResolvedDisriptionTop {
  margin: 40px 0 16px 0;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.21px;
}
.caseResolvedDisriptionBottom {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
/* Кейсы, которые мы решали */