/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* форма заявки */
.sectionFormSend {
  margin-top: 96px;
  margin-bottom: 366px;
  text-align: left;
}
.formSend {
  max-width: 770px;
  padding: 50px 100px;
  margin: auto;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
.formGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 12px 0 32px 0;
}
.formGroup label {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 14px;
  letter-spacing: 1.5px;
}
.formInput {
  font-family: "Roboto", sans-serif;
  margin-top: 12px;
  font-size: 1.125rem;
  line-height: 21px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 3px;
}
.formInputInvalid {
  border: 2px solid #510A0A;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 50px rgba(255, 0, 0, 0.25);
          box-shadow: 0px 4px 50px rgba(255, 0, 0, 0.25);
}
.formGroupContact p {
  text-transform: none;
  font-size: 1.125rem;
  line-height: 20px;
}
.formGroupContactCheckbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.formGroupContactCheckbox p {
  font-family: "Roboto", sans-serif;
  margin-right: 32px;
  font-size: 1.125rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.75);
}
.ContactCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  min-height: 24px;
  min-width: 24px;
  margin: auto 12px auto 0;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  outline: none;
}
.ContactCheckbox:checked::after {
  height: 24px;
  width: 24px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  color: #f7941d;
}
.formGroupText {
  overflow-y: hidden;
  height: 168px;
}
.formGroupLink {
  color: white;
}
.formGroupLink:hover {
  color: #FFB255;
}
/* форма заявки */

@media (max-width: 768px) {
  .formSend {
    padding: 30px 30px;                                           
  }
  .formInput {
    width: 90%;
    padding: 15px 0 15px 15px;
  }
}

@media (max-width: 360px) {
  .formSend {
    margin: auto -20px;
    padding: 30px 30px;                                           
  }
  .formGroupContactCheckbox p {
    font-size: 	1rem;
  }
}