
/* Кейсы, которые мы решали */
.caseResolved {
  margin-top: 96px;
}
.caseOllResolved {
  margin-bottom: 85px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.caseOneResolved {
  margin: 0 ;
  margin-bottom: 20px;
  width: 310px;
  padding: 60px 30px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}
.caseResolvedDisriptionTop {
  margin: 40px 0 16px 0;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.21px;
}
.caseResolvedDisriptionBottom {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.caseOneResolved:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.caseOllResolvedMob {
  display: none;
}
.caseOneResolvedMob {
  margin: 0 20px;
  height: 100%;
  margin: 0 auto;
}
.caseOneResolvedMobImg {
  max-width: 104px;
}
/* Кейсы, которые мы решали */


@media (max-width: 768px) {
  .caseOllResolved {
    display: none;
  }
  .caseOllResolvedMob {
    display: block;
    /* width: 100%; */
  }
  .caseOneResolvedMob {
    margin: 0 auto;
    width: 95%;
  }
}

@media (max-width: 425px) {
  .caseOneResolvedMob {
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .caseOneResolvedMob {

  }
}