.timSection {
  margin-top: 96px;
  color: white;
}
.listTim {

}
.fotoCarousel {
  width: 340px;
}
.timCrouselPagination {
  display: none;
}
/* карусель сотрудников */

@media (max-width: 768px) {
  .timCrouselPagination {
    display: flex;
    justify-content: center;
  }
  .jcarousel-control-prev {
    display: none;
  }
  .jcarousel-control-next {
    display: none;
  }
}

@media (max-width: 360px) {
  .fotoCarousel {
    width: 340px;
  }
}